# Ignore VS Code settings
.vscode/
# and lichess-bot repo
lichess-bot/

# Ignore JSON configuration files
launch.json
settings.json

# Ignore all JSON files
*.json

# Ignore log files
*.log
*.txt

# ignore object files
*.o

# ignore executable files
*.exe
*.dll