# Ignore VS Code settings
.vscode/

# Ignore JSON configuration files
launch.json
settings.json

# Ignore all JSON files
*.json

# Ignore log files
*.log

# ignore object files
*.o

# ignore executable files
*.exe
