# Ignore VS Code settings
.vscode/
.vs/
# and lichess-bot repo
lichess-bot/
Ethereal/
bin/nnue-pytorch/
bullet/
logs/
# ignore other engines
stockfish-windows-x86-64-avx2

# Ignore JSON configuration files
launch.json
settings.json

# Ignore all JSON files
*.json

# Ignore log files
*.log
*.pgn
tests/logs/

# ignore object files
*.o

# ignore executable files
*.mak
*.exe
*.dll

